@import './style.css';

.new-issue-container {
  margin: calc(var(--space-unit) * 5) auto 0;
  max-width: 900px;
}

.issue-form-layout {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: calc(var(--space-unit) * 7);
  max-width: 720px;
  margin: calc(var(--space-unit) * 3) auto;
}

label {
  font-weight: bold;
}

label > * {
  font-weight: normal;
}

input,
textarea,
select {
  background-color: var(--light-color);
  border: none;
  padding: var(--space-unit);
  border-radius: var(--space-unit);
  width: 100%;
  margin: var(--space-unit) 0;
  box-sizing: border-box;
  color: var(--dark-color);
}

#add-issue-button {
  width:fit-content;
}

#cancel-button {
  margin-left: 340px;
}

#close-button {
  margin-left: 500px;
}

.group-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-between
}

input:focus,
select:focus,
textarea:focus {
  outline: 2px solid #9999fa;
  border: none;
}

input:invalid,
select:invalid,
textarea:invalid {
  outline-color: var(--danger-hover-color);
}

main{
  max-width: 600px;
  height: 100%;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
} 