@import './style.css';

.roadmap-container {
  margin: calc(var(--space-unit) * 5) auto 0;
  max-width: 900px;
}

.issues-tiles-layout {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
}

ul {
  padding-inline-start: calc(var(--space-unit) * 2); /*Change bullet tab's.*/
  margin-top: var(--space-unit);
}

ul > li {
  padding-left: var(--space-unit);
  letter-spacing: 1px;
  font-size: var(--text-default);
}

/*To change bullet color.*/
 ul > li::marker {
  font-size: 18px;
  padding-inline-start: calc(var(--space-unit) * 2); /*Change bullet tab's.*/
}

.to-do {
  box-shadow: 0px -4px var(--todo-color);
}

.doing {
  box-shadow: 0px -4px var(--doing-color);
}

.done {
  box-shadow: 0px -4px var(--done-color);
}

.to-do ul > li::marker {
  color: var(--todo-color);
}

.doing ul > li::marker {
  color: var(--doing-color);
}

.done ul > li::marker {
  color: var(--done-color);
}

article{
  margin-top: calc(var(--space-unit) / 2);
}

.tile {
  flex-direction: row;
  margin-top: var(--space-unit);
}
