:root {
    /* COLORS */
    --light-color: #efefef;
    --bg-tag-color: #F2F4FF;
    --link-color: #4661E6;
    --todo-color: #F49F85;
    --doing-color: #AD1FEA;
    --done-color: #62BCFA;
    --dark-color: #373F68;
    --danger-color: rgb(235, 67, 67);
    --dark-hover-color: #5260a3;
    --doing-hover-color: #C75AF6;
    --danger-hover-color: rgb(240, 108, 108);
    
    /* GRADIENTS */
    --main-gradiente: linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    
    /* UNITS */
    --space-unit: 8px;
    
    /* TEXT */
    --text-default: 16px;
    --text-sm: 13px;
    --text-lg: 20px;
  }